<h2 class="text-center">Tic Tac Toe</h2>
<p> let's play!</p>
<div class="mb-3 row">
  <label class="col-md-2 pe-0 d-flex align-items-center text-nowrap">Difficulty Level:</label>
  <div class="col-sm-4 ps-4 d-flex justify-content-end">
    <select class="form-select " aria-label="Select difficulty" (change)="difficulty($event)">
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
  </div>
  <label class="col-md-3 pe-0 d-flex justify-content-end align-items-center">Player Symbol:</label>
  <div class="col-sm-3 pl-0">
    <select class="form-select w-50" aria-label="Select symbol" (change)="changePlayerSymbol($event)">
      <option value="X">X</option>
      <option value="O">O</option>
    </select>
  </div>
</div>
<div class="table-container table-responsive">
  <table class="w-100 h-50" [ngClass]="{'fade-out': isHidden, 'fade-in': !isHidden}">
    <tr *ngFor="let row of board; let i = index">
      <td class="text-center "  [ngClass]="{
        'strike-through-row': isRowWinningCell(i),
        'strike-through-column': isColumnWinningCell(j),
        'strike-through-diagonal-left': isLeftDiagonalWinningCell() && i === j,
        'strike-through-diagonal-right': isRightDiagonalWinningCell() && i + j === 2
        }" *ngFor="let cell of row; let j = index" (click)="makeMove(i, j)">
        <div>
          <span [@fadeIn]="symbolVisibility[i][j]" *ngIf="cell !== ''">{{ cell }}</span>
        </div>
      </td>
    </tr>
  </table>
  <div class="overlay d-grid align-items-center" *ngIf="gameOver">
    <p>Game Over!</p>
    <p *ngIf="!draw; else drawDiv">Player {{winningSymbol == 'O' ? 'O' : 'X'}} wins!</p>
    <ng-template #drawDiv>
      <p>Draw!</p>
    </ng-template>
  </div>
</div>
<button class="glow-on-hover" (click)="resetGame()">Reset Game</button>
