td:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.table td {
  height: 145px;
  width: 165px;
}

td {
  border: thick solid black;
  border-radius: 10px;
  padding: 15px;
  height: 145px;
  width: 165px;
  font-size: 63px;
}

table {
  border-collapse: unset;
}

.table-container {
  position: relative;
}

.table-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.table-container table {
  z-index: 2;
}

.table-container p {
  text-align: center;
  font-size: 5rem;
  color: red;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.strike-through-row,
.strike-through-column,
.strike-through-diagonal-left,
.strike-through-diagonal-right {
  position: relative;
  z-index: 0;
}

.strike-through-row::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: red;
  transform: translateY(-50%);
}

.strike-through-column::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background-color: red;
  transform: translateX(-50%);
}

.strike-through-diagonal-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: red;
  transform-origin: top left; /* Update the transform origin */
  transform: translateY(-100%) rotate(36deg);
}

.strike-through-diagonal-right::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 131%;
  height: 10px;
  background-color: red;
  transform-origin: top right; /* Update the transform origin */
  transform: translateY(calc(-100% + 2px)) rotate(-37deg);
}

@media (min-width: 320px) {
    .strike-through-diagonal-left::after {
      width: 222%;
      transform: translateY(-100%) rotate(56deg);
    }
  }
  

@media (min-width: 768px) {
  .strike-through-diagonal-left::after {
    width: 126%;
    transform: translateY(-100%) rotate(32deg);
  }
}

@media (min-width: 1024px) {
  .strike-through-diagonal-left::after {
    width: 115%;
    transform: translateY(-100%) rotate(25deg);
  }
}

@media (min-width: 1440px) {
  .strike-through-diagonal-left::after {
    width: 107%;
    transform: translateY(-100%) rotate(19deg);
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
