<div class="text-white">
    <ul>
        <li>
            <h2>Frontend</h2>

            <!-- HTML5 -->
            <p style="width:80%" data-value="80">HTML5</p>
            <progress max="100" value="80" class="html5">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                    <span style="width: 80%">80%</span>
                </div>
            </progress>

            <!-- CSS3 -->
            <p style="width:60%" data-value="60">CSS3</p>
            <progress max="100" value="60" class="css3">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                    <span style="width: 60%">60%</span>
                </div>
            </progress>

            <!-- jQuery -->
            <p style="width:50%" data-value="50">jQuery</p>
            <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                    <span style="width: 50%">50%</span>
                </div>
            </progress>

            <!-- JavaScript -->
            <p style="width:50%" data-value="50">JavaScript</p>
            <progress max="100" value="50" class="jquery">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                    <span style="width: 50%">50%</span>
                </div>
            </progress>
            
             <!-- Angular -->
             <p style="width:50%" data-value="50">Angular</p>
             <progress max="100" value="50" class="jquery">
                 <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                 <div class="progress-bar">
                     <span style="width: 50%">50%</span>
                 </div>
             </progress>
        </li>
        <li>
            <h2>Backend</h2>

            <!-- Python -->
            <p style="width:80%" data-value="80">.Net</p>
            <progress max="100" value="80" class="net">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                    <span style="width: 80%">80%</span>
                </div>
            </progress>

            <!-- PHP -->
            <p style="width:65%" data-value="65">SQL</p>
            <progress max="100" value="65" class="sql">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                    <span style="width: 65%">65%</span>
                </div>
            </progress>

            <!-- Node.js -->
            <p style="width:35%" data-value="35">MS Azure</p>
            <progress max="100" value="35" class="ms-azure">
                <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                <div class="progress-bar">
                    <span style="width: 35%">35%</span>
                </div>
            </progress>

        </li>
    </ul>
</div>