<p class="fs-4 text-white">
    <span class="ms-5">I am a software developer with over 5 years of </span> experience in the industry. I
    specialize in .NET C#, ASP.NET
    Core, JavaScript, Angular, CSS, and HTML, as well as unit testing. In addition, I have a strong background
    in JavaScript, Angular, HTML, CSS and Bootstrap. I have developed dynamic and responsive web applications
    that are
    both user-friendly and visually appealing. My experience in frontend development allows me to collaborate
    effectively with frontend developers to ensure seamless integration between the frontend and backend
    systems.
  </p>
  <p class="fs-4 justify text-white">
    <span class="ms-5">I have excellent problem-solving and analytical</span> skills, as well as attention to
    detail. I have worked
    collaboratively with cross-functional teams to deliver successful projects, and I am familiar with Agile
    methodologies. I am
  </p>
  <p class=" fs-4 text-white">
    <span class="ms-5">If you are looking for a skilled and experienced </span>software developer who is
    committed to delivering
    high-quality work and building innovative solutions, please don't hesitate to get in touch. I look forward
    to hearing from you!"
  </p>